@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}
:root{
    --preto:rgb(0, 0, 0);
    --vermelho: rgb(226, 46, 46);
    --cinza: #bfc0c0ff;
    --vermelho-escuro: rgb(102, 7, 7);
    --fonte-primaria: "Exile", system-ui;
    --fonte-secundaria: "DM Sans", sans-serif;
}
body{
    background-color: var(--preto);
    color: var(--preto);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--fonte-secundaria);
}
.caixa-principal{
    background-color: var(--vermelho);
    width: 90%;
    text-align: center;
    padding: 20px;
}
.titulo{
    font-family: var(--fonte-primaria);
}
button{
    padding: 20px 30px;
    background-color: var(--vermelho-escuro);
    color: var(--preto);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    padding: 20px;
}
button:hover{
    background-color: var(--cinza);
}